.c-button {
  padding: 0.8rem 1rem;
  background-color: var(--c-cyan);
  color: var(--c-black);
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px #1d7f8a, 0px 0px 5px 0px rgba(120, 120, 120, 0.4);
  transition: all 0.16s;
  position: relative;
  height: 2.6rem;
}

.c-button:focus {
  outline: none;
}

.c-button:active {
  box-shadow: 0px 5px 0px 0px #1d7f8a;
  top: 2px;
  bottom: 0;
}

.c-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
