*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-app);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media only screen and (max-width: 750px) {
  body {
    min-height: 100%;
    padding: 1rem;
  }
}

body .app {
  background-color: var(--c-red);
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem 2.5rem;

  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  border: 6px solid var(--c-black);
}
@media only screen and (max-width: 750px) {
  body .app {
    display: block;
    max-width: 100%;
    padding: 1.2rem;
    margin: 0;
  }
}

.circle {
  border: 2px solid var(--c-black);
  border-radius: 50%;
}

.square {
  border: 3px solid var(--c-black);
  border-radius: 0.5rem;
}
