.c-search {
  overflow: hidden;
  padding: 0.625rem;
  background-color: var(--c-white);

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

@media only screen and (max-width: 750px) {
  .c-search {
    flex-direction: column;
  }
}

.c-search input {
  width: 100%;
  padding: 0.6rem;
  height: 100%;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--c-cyan-300);
  color: var(--c-black);
}

.c-search button {
  max-width: 100px;
  color: var(--c-black);
}

@media only screen and (max-width: 750px) {
  .c-search button {
    max-width: 100%;
  }
}
